# ======训练|测试======
ipdb
opencv-python
opencv-python-headless
numpy>1.22.2
seaborn
matplotlib
torch>=1.11.0
torchvision>=0.12.0
tensorboard>1.15.0
torchinfo #模型统计
timm      #模型库
pycm      #指标度量库
grad-cam  #类激活映射库
pytorch_metric_learning #度量学习库
torchsampler # 均衡采样库
faiss-cpu  # 加速矩阵运算
colossalai # 分布式并行库
bobotools  # 常用工具库

# ======部署======
# 1.onnx环境
# onnx
# onnxruntime
# onnx-simplifier
# protobuf>=3.20.0
# 2.openvino环境
# openvino-dev


