# ======训练/测试======
# torch >= 1.9.0
# torchvision >= 0.9.0
opencv-python >= 4.5.3
numpy
tensorboard
pyyaml
timm  # 模型库
torchmetrics # 指标度量库

# ======模型转换======
onnx
onnxruntime
onnx-simplifier
# pycuda 


