# ======训练|测试======
opencv-python
numpy
pyyaml
seaborn
matplotlib
torch
torchvision
tensorboard>1.15.0
torchinfo #模型统计
timm      #模型库
pycm      #指标度量库
grad-cam  #类激活映射库
pytorch_metric_learning # 度量学习库
faiss-gpu  # 度量学习:加速相似度计算  若为CPU环境,则安装faiss-cpu

# ======部署======
# 1.onnx环境
onnx
onnxruntime
onnx-simplifier
protobuf>=3.20.0
# 2.openvino环境
# openvino-dev
# 3.TensorRT环境
# pycuda


